= form_tag currencies_convert_path, method: :get, id: 'currency-form' do
  .form-row
    .form-group.col-md-6
      = label_tag I18n.t('currency.labels.amount_from')
      .input-group.mb-3
        = text_field_tag('', exchange_rate.from_rate, {placeholder: I18n.t('currency.labels.amount_from'),
                                                       id: 'from-amount',
                                                       class: 'form-control currency-input'})
        .input-group-append
          %span.input-group-text.font-weight-bold= exchange_rate.from

    .form-group.col-md-6
      = label_tag I18n.t('currency.labels.converted_to')
      .input-group.mb-3
        = text_field_tag('', exchange_rate.rate, {placeholder: I18n.t('currency.labels.converted_to'),
                                                     id: 'to-amount',
                                                     class: 'form-control currency-input'})
        .input-group-append
          %span.input-group-text.font-weight-bold= exchange_rate.to

  .form-row
    .col-md
      .form-row
        .col-md-5
          = label_tag I18n.t('currency.labels.from')
          = select_tag :from, options_from_collection_for_select(currencies, :code, :name_with_code, exchange_rate.from),
                        class: 'select2 form-control',
                        id: 'from-currency'

        .text-center.col-md-2
          = label_tag ''
          = link_to fontawesome_icon('fas fa-exchange-alt pt-4 fa-2x toggle-currency'),
            currencies_convert_path(from: exchange_rate.to, to: exchange_rate.from)

        .col-md-5
          = label_tag I18n.t('currency.labels.to')
          = select_tag :to,
                       options_from_collection_for_select(currencies, :code, :name_with_code, exchange_rate.to),
                       class: 'select2 form-control',
                       id: 'to-currency'
      %br
      .form-row
        .col-md-3
          = submit_tag(I18n.t('currency.buttons.convert'), class: 'btn btn-primary')
        .col-md-9
          Prices Updates every hour. Next update

    .col-md.text-center
      = render partial: 'exchange_details', locals: {exchange_rate: exchange_rate}

