%h3.text-center
  Currency Details

%table.table.table-bordered
  %thead
    %tr
      %th.col-md-2.col-sm-2
      %th.col-md-5.col-sm-5 From Currency
      %th.col-md-5.col-sm-5 To Currency
  %tbody
    %tr
      %td Currency
      %td= exchange_rate.from_currency.name
      %td= exchange_rate.to_currency.name
    %tr
      %td Code
      %td= exchange_rate.from_currency.code
      %td= exchange_rate.to_currency.code
    %tr
      %td Icon
      %td
        %span{class: "currency-flag currency-flag-#{exchange_rate.from_currency.code.try(:downcase)}"}
      %td
        %span{class: "currency-flag currency-flag-#{exchange_rate.to_currency.code.try(:downcase)}"}
    %tr
      %td Symbol
      %td= exchange_rate.from_currency.symbol
      %td= exchange_rate.to_currency.symbol
    %tr
      %td Countries
      %td= exchange_rate.from_currency&.countries&.map(&:name)&.join(', ') || ''
      %td= exchange_rate.to_currency&.countries&.map(&:name)&.join(', ') || ''

