%h3.text-center
  Conversion Tables
.row
  .col-md
    %table.table.table-bordered
      %thead
        %tr
          %th.text-right= exchange_rate.from
          %th= exchange_rate.to
      %tbody
        - (1000..10000).step(1000) do |number|
          %tr
            %td.text-right= exchange_rate.from_currency_base(number)
            %td.text-left= exchange_rate.from_currency_calc_amount(number)

  .col-md
    %table.table.table-bordered
      %thead
        %tr
          %th.text-right= exchange_rate.to
          %th= exchange_rate.from
      %tbody
        - (1000..10000).step(1000) do |number|
          %tr
            %td.text-right= exchange_rate.to_currency_base(number)
            %td.text-left= exchange_rate.to_currency_calc_amount(number)



