.container.py-5
  .row
    .col-md
      %table.table.table-bordered
        %thead
          %tr
            %th Name
            %th Code
            %th Icon
            %th Symbol
        %tbody
          - @currencies.each do |currency|
            %tr
              %td= currency.name
              %td= currency.code
              %td
                %span{class: "currency-flag currency-flag-#{currency.code.try(:downcase)}"}
              %td= currency.symbol

    .col-md
      %table.table.table-bordered
        %thead
          %tr
            %th Name
            %th Code
            %th Icon
            %th Symbol
        %tbody
          - @currencies.each do |currency|
            %tr
              %td= currency.name
              %td= currency.code
              %td
                %span{class: "currency-flag currency-flag-#{currency.code.try(:downcase)}"}
              %td= currency.symbol
