<%= form_tag(ride_track_price_estimate_path, method: :get, remote: true, id: 'coordinate-search') do %>
  <div class="form-group">
    <%= label_tag I18n.t('ride_track.labels.origin') %>
    <%= text_field_tag 'origin_details[address]', nil,
                       class: 'form-control',
                       id: 'origin-address',
                       placeholder: 'Central Park, Manhattan, New York, NY, USA',
                       required: true %>
  </div>
  <div class="form-group">
    <%= label_tag I18n.t('ride_track.labels.destination') %>
    <%= text_field_tag 'destination_details[address]', nil,
                       class: 'form-control',
                       id: 'destination-address',
                       placeholder: 'Times Square, Manhattan, New York, NY, USA',
                       required: true %>
  </div>

  <%= render partial: 'coordinate_details' %>

  <%= submit_tag I18n.t('ride_track.buttons.estimate'), class: 'btn btn-primary', id: 'estimate', name: 'estimate' %>
<% end %>

<script>
    $(document).ready(function () {
        coordinatesSearch.init();
    });
</script>
